In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
df = pd.read_csv("/content/drive/MyDrive/steam_reviews.csv")
df.head(10)

   Unnamed: 0  app_id  ... author.playtime_at_review  author.last_played
0           0  292030  ...                    1909.0        1.611343e+09
1           1  292030  ...                    2674.0        1.611386e+09
2           2  292030  ...                    1060.0        1.611384e+09
3           3  292030  ...                    5524.0        1.611384e+09
4           4  292030  ...                     217.0        1.610788e+09
5           5  292030  ...                     823.0        1.611379e+09
6           6  292030  ...                    4192.0        1.611352e+09
7           7  292030  ...                    2701.0        1.609671e+09
8           8  292030  ...                    6921.0        1.611317e+09
9           9  292030  ...                    2364.0        1.611379e+09

[10 rows x 23 columns]

# [RQ2]

###Plot the number of reviews for each application in descending order.

In [4]:
number_reviews = df.app_id.value_counts().to_frame() #number of reviews for each application, sort in descending order
print(number_reviews)

         app_id
578080  1644255
271590  1019116
359550   841918
105600   672815
4000     655524
...         ...
611760     1013
385560      700
619290      700
574050      600
454200      200

[315 rows x 1 columns]

###What applications have the best Weighted Vote Score?

In [5]:
weighted_score_df= df.groupby('app_name')['weighted_vote_score'].max() #best weighted vote score for each application
s=weighted_score_df.sort_values(ascending=False) #sort the values in descending order
print(s.head(5)) #the five applications with the best weighted vote score

app_name
Stardew Valley              0.995987
Divinity: Original Sin 2    0.995245
Subnautica                  0.994453
Mirror                      0.994038
Wallpaper Engine            0.993540
Name: weighted_vote_score, dtype: float64

###Which applications have the most and the least recommendations?

In [7]:
app=df.groupby('app_name')['recommended'].sum() #count of the recommendations for each app
s = app.sort_values(ascending=False).to_frame() #sort the values in descending order
top5 = s.index.tolist()[:5]
last5= s.index.tolist()[-5:]
print(s.head(5)) #top 5 with the most recommendations
print(s.tail(5)) #top 5 with the least recommendations

                                recommended
app_name
PLAYERUNKNOWN'S BATTLEGROUNDS        886417
Grand Theft Auto V                   831311
Tom Clancy's Rainbow Six Siege       742397
Terraria                             658741
Garry's Mod                          632558
                             recommended
app_name
Out of the Park Baseball 19          594
Shadow Complex Remastered            587
Identity                             439
DRAGON QUEST HEROES™ II              423
Neon Hardcorps                        89

###How many of these applications were purchased, and how many were given for free?

In [8]:
df = pd.read_csv("/content/drive/MyDrive/steam_reviews.csv", usecols=['app_name', 'received_for_free'])
print('data for the applications that have the most recommendations:\n')
for i in top5:
  s=df.loc[df['app_name'] ==	i ].value_counts()
  print(s)
print('\n')
print('data for the applications that have the least recommendations:\n')
for i in last5:
  s=df.loc[df['app_name'] ==	i ].value_counts()
  print(s)

data for the applications that have the most recommendations:

app_name                       received_for_free
PLAYERUNKNOWN'S BATTLEGROUNDS  False                1582812
                               True                   61443
dtype: int64
app_name            received_for_free
Grand Theft Auto V  False                980492
                    True                  38624
dtype: int64
app_name                        received_for_free
Tom Clancy's Rainbow Six Siege  False                805618
                                True                  36300
dtype: int64
app_name  received_for_free
Terraria  False                652661
          True                  20154
dtype: int64
app_name     received_for_free
Garry's Mod  False                630759
             True                  24765
dtype: int64


data for the applications that have the least recommendations:

app_name                     received_for_free
Out of the Park Baseball 19  False                689
                             True                  11
dtype: int64
app_name                   received_for_free
Shadow Complex Remastered  False                679
                           True                  21
dtype: int64
app_name  received_for_free
Identity  False                1764
          True                   40
dtype: int64
app_name                 received_for_free
DRAGON QUEST HEROES™ II  False                593
                         True                   7
dtype: int64
app_name        received_for_free
Neon Hardcorps  False                173
                True                  27
dtype: int64

#[RQ5]

###Plot the top 10 most popular reviewers and the number of reviews.

In [11]:
a=df['author.steamid'].value_counts() #count of the number of reviews for each reviewers, sort in descending order
most_popular = a.index.tolist()[0]
print(a.head(10))

76561198062813911    149
76561198315585536    132
76561198192166873    107
76561198239163744    106
76561198045381877    103
76561198064946151    100
76561198013146396     99
76561198027973295     96
76561197969749884     88
76561197989746995     86
Name: author.steamid, dtype: int64

###What applications did the most popular author review?

In [12]:
df = pd.read_csv("/content/drive/MyDrive/steam_reviews.csv", usecols=['author.steamid', 'app_name'])
c=df.loc[df['author.steamid']==	most_popular] #select rows from df based on values in some column
print(c)

                          app_name     author.steamid
512675                   Half-Life  76561198062813911
539037      Counter-Strike: Source  76561198062813911
658130    Half-Life 2: Episode Two  76561198062813911
849477                    Portal 2  76561198062813911
1549581                Garry's Mod  76561198062813911
...                            ...                ...
21578107             Hollow Knight  76561198062813911
21624890             Day of Infamy  76561198062813911
21651066                SimAirport  76561198062813911
21656340             Dead Rising 4  76561198062813911
21672218  Styx: Shards of Darkness  76561198062813911

[149 rows x 2 columns]

###How many applications did he purchase, and how many did he get as free? Provide the number (count) and the percentage.

In [14]:
df = pd.read_csv("/content/drive/MyDrive/steam_reviews.csv", usecols=['author.steamid', 'received_for_free'])
tot=df.loc[df['author.steamid'] ==	most_popular].value_counts()
perc=df.loc[df['author.steamid'] ==	most_popular].value_counts(normalize=True)#By setting normalize=True, the object returned will contain the relative frequencies of the unique values. The normalize parameter is set to False by default.
print(tot)
print(perc)

received_for_free  author.steamid
False              76561198062813911    145
True               76561198062813911      4
dtype: int64
received_for_free  author.steamid
False              76561198062813911    0.973154
True               76561198062813911    0.026846
dtype: float64

###How many of the applications he purchased reviewed positively, and how many negatively? How about the applications he received for free?

In [15]:
df = pd.read_csv("/content/drive/MyDrive/steam_reviews.csv", usecols=['author.steamid', 'received_for_free', 'recommended'])
a=df.loc[(df['author.steamid'] ==	most_popular) & df['received_for_free']==False].value_counts()
print('applications reviewed positively purchased by the most popular author\n{}.'.format(a))
b=df.loc[(df['author.steamid'] ==	most_popular) & df['received_for_free']==True].value_counts()
print('applications reviewed positively that the most popular author received for free\n{}.'.format(b))

applications reviewed positively purchased by the most popular author
recommended  received_for_free  author.steamid
True         False              76561198062813911    142
                                76561198315585536    130
                                76561198027973295     84
                                76561197969749884     83
                                76561198192166873     82
                                                    ...
                                76561198153080474      1
                                76561198153080432      1
                                76561198153080357      1
                                76561198153080308      1
             True               76561199132297448      1
Length: 13635866, dtype: int64.
applications reviewed positively that the most popular author received for free
recommended  received_for_free  author.steamid
True         True               76561198062813911    4
dtype: int64.

#TQ3
In the knapsack problem we are given n objects and each object i has a weight w_i and a value v_i. We are also given a weight budget W. The problem is to select a set of objects with total weight bounded by W that maximized the sum of their values. The following are three natural heuristics:

1-Order them in increasing order of weight and then visit them sequentially, adding them to the solution as long as the budget is not exceeded.

2-Order them in decreasing order of values, and then visit them sequentially, adding them to the solution if the budget is not exceeded.

3-Order them in decreasing relative value (v_i / w_i), and then visit them sequentially, adding them to the solution if the budget is not exceeded.

For each of the heuristics, provide a counterexample, that is, an example of a problem instance in which the heuristic fails to provide the optimal solution.

###solution

1.

n=6, W=100.

w_1=10, v_1=4

w_2=30, v_2=1

w_3=20, v_3=2

w_4=50, v_4=9

w_5=15, v_5=7

w_6=35, v_6=8



> If I order them in increasing order of weight and then visit them sequentially, adding them to the solution as long as the budget is not exceeded, I take obj1+obj5+obj3+obj2 getting W=75 and V=14,  but the optimal solution takes obj4+obj5+obj6 getting W=100 and V=24


2.

n=4, W=10.

w_1=8, v_1=8

w_2=4, v_2=5

w_3=3, v_3=3

w_4=3, v_4=1 



> If I order them in decreasing order of values, and then visit them sequentially, adding them to the solution if the budget is not exceeded, I take only obj1 getting W=8 and V=8 but the optimal solution takes obj2+obj3+obj4 getting W=10 and V=9 



3.

n=3, W=50.

w_1=10, v_1=60 --> v_1/w_1=6

w_2=20, v_1=100 --> v_2/w_2=5

w_3=30, v_1=120 --> v_3/w_3=4



> If I order them in decreasing relative value (v_i / w_i), and then visit them sequentially, adding them to the solution if the budget is not exceeded, I take object 1 first, but the optimal solution takes object 2 and 3 leaving 1 behind. In fact obj1+obj2 give W=30 and V=160, obj2+obj3 give W=50 and V=220, obj1+obj3 give W=40 and V=180